@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;900&family=Open+Sans:wght@300..800&family=Roboto:wght@400;500;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ----Shared styles---- */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

.gray-text {
  color: #727272;
}
.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.primary-btn {
  margin-top: 2rem;
  padding: 1.25rem 1.56rem;
  border-radius: 0.5rem;
  background: #ff900e;
  outline: none;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

/* -----header style----- */
header {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  width: 75%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.5rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links li,
.nav-links li > a {
  list-style: none;
  text-decoration: none;
  color: #424242;
  font-size: 1.12rem;
  font-weight: 500;
  cursor: pointer;
}
.banner-text {
  width: 60%;
  max-width: 53.88rem;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
}
.banner-text > h3 {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-text > p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.banner-img {
  width: 75%;
  max-width: 90rem;
  margin: 1rem auto 0;
  padding-bottom: 2rem;
}
.banner-img > img {
  width: 100%;
  height: auto;
}
/* --------Header style end------ */

/* ----Main container Styles start------ */

main {
  width: 75%;
  max-width: 90rem;
  margin: 5rem auto;
}
/* ----teams Styles start------ */

.teams-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;
  margin: 0 auto;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-img-container img {
  width: 100%;
}

.teams-contents-text > h3 {
  font-size: 2.8rem;
  font-weight: 500;
}
.teams-contents-text > h3 > strong {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.teams-contents-text > h3 > span {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}
.teams-contents-text > p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
/* ----teams Styles end------ */

/* ----facts style---- */
.facts-container {
  width: 100%;
  margin: 5rem 0 1rem;
}
.facts-container > h3 {
  width: 100%;
  margin-bottom: 1rem;
}

.facts-card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
  gap: 1rem;
}
.facts-card-container .cards {
  text-align: center;
  padding: 1rem;
  font-weight: 600;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #ff900e;
}
.facts-card-container .cards h3 {
  font-size: 2.8rem;
  color: #424242;
}
.facts-card-container .cards p {
  font-size: 1.25rem;
}

/* -----Responsive Styles ----- */
/* ---Mobile---- */
@media screen and (max-width: 576px) {
  .banner-text,
  .banner-img,
  main,
  nav,
  .facts-card-container {
    width: 90%;
    flex-direction: column;
  }
  .nav-links {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .teams-container,
  .teams-img-container {
    grid-template-columns: 1fr;
  }
}

/* ---Medium devices (tablets)-----  */
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .banner-text {
    width: 75%;
  }
  .banner-img,
  main,
  nav {
    width: 85%;
  }
  .nav-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .teams-container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .teams-container > *:nth-child(2) {
    order: -1;
  }

  .teams-container > *:nth-child(1) {
    order: 1;
  }
}
