@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;900&family=Open+Sans:wght@300..800&family=Roboto:wght@400;500;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ----Shared styles---- */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

.primary-btn {
  margin-top: 2rem;
  padding: 1.25rem 1.56rem;
  border-radius: 0.5rem;
  background: #ff900e;
  outline: none;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

/* -----header style----- */
header {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  width: 75%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.5rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  cursor: pointer;
}
.nav-links {
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links li,
.nav-links li > a {
  list-style: none;
  text-decoration: none;
  color: #424242;
  font-size: 1.12rem;
  font-weight: 500;
  cursor: pointer;
}
.banner-text {
  width: 60%;
  max-width: 53.88rem;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
}
.banner-text > h3 {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-text > p {
  margin-top: 1rem;
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.banner-img {
  width: 75%;
  max-width: 90rem;
  margin: 1rem auto 0;
  padding-bottom: 2rem;
}
.banner-img > img {
  width: 100%;
  height: auto;
}

/* -----Responsive Styles ----- */
/* ---Mobile---- */
@media screen and (max-width: 576px) {
  .banner-text,
  .banner-img,
  nav {
    width: 90%;
    flex-direction: column;
  }
  .nav-links {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}

/* ---Medium devices (tablets)-----  */
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .banner-text {
    width: 75%;
  }
  .banner-img,
  nav {
    width: 85%;
  }
  .nav-links {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}
